<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.amund.httpwidgets">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HTTPWidgets"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ConfigureActivity"
            android:exported="false"
            android:label="@string/title_activity_configure"
            android:theme="@style/Theme.HTTPWidgets.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".WidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/http_widget_info" />
        </receiver>
        <receiver
            android:name=".ClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.amund.httpwidgets.CLICK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>